[Unit]
Description=Beacon
After=geth.target

[Service]
Type=simple
User=beacon
Environment=USE_PRYSM_MODERN=true
ExecStart=/home/eth2/beacon/bin/prysm.sh beacon-chain \
     --datadir=/home/eth2/beacon \
     --execution-endpoint=http://localhost:8551 \
     --p2p-max-peers=100 \
     --accept-terms-of-use \
     --jwt-secret=/home/eth2/shared/jwt.hex \
     --http-mev-relay=http://localhost:18550 \
# https://eth-clients.github.io/checkpoint-sync-endpoints/
     --checkpoint-sync-url=https://sync-mainnet.beaconcha.in \
     --suggested-fee-recipient=Ox

Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
